
@font-face {
  font-family: 'ibm';
  src: url('WebPlus_IBM_VGA_8x16.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: beige;
	font-family: 'ibm';
}


.row {
	text-align: center;
	align-items: center;
  display: flex;
  flex-wrap: wrap;
	width: 50%;
	margin: auto;
	justify-content: space-around;
}
.main {
  font-size: 32px;
  flex: 100%;
	border: 1px solid black;
  padding: 12px;
	height: 100%;
}
